<!DOCTYPE html>
<html>
<head>    
    <title>@(ViewBag.Title)Speedtest</title>
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
</head>
<body>
    @RenderBody()
</body>
</html>
